@page "/"
@inject CurrentContextData context
@inject HttpClient http

<PageTitle>Index</PageTitle>
<SearchComponent ParentCaller="FetchAvailableVehicle"></SearchComponent>
@if (availableVehicles != null)
{
	<div class="container">
		<div class="row">
			@foreach (var i in availableVehicles)
			{
				<VehicleComponent availableVehicle="@i" searchVechile="@search" OrderedVehicle="ReserveVehicle" />
			}
		</div>
	</div>  						
}
 